{% extends 'layui_base.html' %}
 
 
{% block content %}
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">重置密码</div>
          <div class="layui-card-body" pad15="">
            <form class="layui-form" action="" id="passwordform" method ="POST"  lay-filter="profile" ENCTYPE="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="layui-form-item">
                    <label class="layui-form-label">当前密码</label>
                    <div class="layui-input-inline">
                      <input type="password" name="password" lay-verify='password'   placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请填写当前密码</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                      <input type="password" name="password1" lay-verify='password1' placeholder="" autocomplete="off" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认新密码</label>
                    <div class="layui-input-inline">
                      <input type="password" name="password2" lay-verify='password2' placeholder="" autocomplete="off" class="layui-input">
                    </div>
                </div> 
              
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit="" lay-filter="resetpwd">重置密码</button>
                </div>
              </div>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <div class="layui-form-item" style="text-align: center;">
                  <p>
                    {% for message in messages %}
                    <span style="color: red; font-size: small">{{ message }}</span>
                    {% endfor %}
                  </p>
                
                </div>
                {% endif %}
                {% endwith %}
            </form>      
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block bodyscript %}
<script>
  //JavaScript代码区域
  layui.use(['layer', 'form','element', 'laydate','upload','util'],function(){
      var layer = layui.layer
      ,form = layui.form
      ,util = layui.util
      ,$ = layui.jquery;
 
    var post=eval("{% with messages = get_flashed_messages() %} {% if messages %}true{% else %}false{% endif %}{% endwith %}");
    if(post){
      layer.msg("个人资料更新成功", {icon: 6}); 
      setTimeout(function(){layer.closeAll();}, 1000);
    }

    //自定义验证规则
    form.verify({
      password: [/^[\S]{6,12}$/,'请填写6到12位当前密码'],
      password1: [/^[\S]{6,12}$/,'请填写6到12位新密码，且不能出现空格'],
      password2:function(value,item){
        if(  value.length<6 || value.length>16){
          return "请填写6到12位确认密码，且不能出现空格";
        }
        var pwd = $('input[name=password1').val();
        if (pwd !== value) 
           return "二次输入的密码不一致！";
      }
     });
      
  //普通图片上传
  var uploadInst = upload.render({
    elem: '#btnSelectFile'
    ,url: '/auth/profile/avatar'
    ,size: 100 //限制文件大小，单位 KB
    , exts: 'jpg'        //可传输文件的后缀jpg|png|gif|
    , accept: 'file'              //video audio images
    , data: { Parm1: "hello", Parm2: "world" }    //额外传输的参数
    , headers:{token:'sasasasa'}                   //额外添加的请求头
    , auto: false                                 //自动上传,默认是打开的
    , bindAction: '#btnUpload'                    //auto为false时，点击触发上传
    , multiple: false                             //多文件上传
    , choose: function (obj) {
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('#previewimg').attr('src', result); //图片链接（base64）
      });
    }
    ,before: function(obj){

    }
    ,done: function(res){
      //如果上传失败
      if(res.code ==200){
        return layer.msg('上传成功');
      }
      else{
        return layer.msg('上传失败');
      }
      //上传成功
    }
    ,error: function(){
      //演示失败状态，并实现重传
      var demoText = $('#demoText');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    }
  });

  //监听提交
  form.on('submit(setprofile)', function(data){
    // layer.alert(JSON.stringify(data.field), {
    //   title: '最终的提交信息'
    // })
    // $.ajax({
    //           url:'/auth/profile',
    //           type: "POST",
    //           contentType: "application/json; charset=utf-8",
    //           data: JSON.stringify(jsonObj),
    //           dataType: 'json',
    //           async:false,
    //           success:function (msg) {
    //               if(msg.code==200){
    //                   layer.closeAll('loading');
    //                   layer.load(2);
    //                   layer.msg("个人资料更新成功", {icon: 6});
    //                   setTimeout(function(){
    //                       layer.closeAll();
    //                   }, 1000);
    //               }else{
    //                   layer.msg("个人资料更新失败"+msg.msg, {icon: 5});
    //               }
    //               return false;
    //           },
    //           error: function(XMLHttpRequest, textStatus, errorThrown){
    //             layer.msg(XMLHttpRequest.status+"-", {icon: 5,title:"保存提交异常"});
    //             return false;
    //           }
    //         });

    return true;
  }); 
     //表单初始赋值
    form.val('profile', {
      "username": "{{form.username}}"  
      ,"nickname": "{{form.nickname}}"
      ,"last_seen": util.toDateString("{{form.last_seen}}",'yyyy-MM-dd HH:mm')
      ,"email":"{{form.email}}"
      ,"about_me": "{{form.about_me}}"
    });

  });
    </script>
{% endblock %}