{% extends 'layui_base.html' %}
 
 
{% block content %}
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">重置密码</div>
          <div class="layui-card-body" pad15="">
        
 
              <div class="layui-form-item" style="text-align: center;">
                  <p>
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                    <span style=" font-size: medium">{{ message }}</span>
                    {% endfor %}
                    {% endwith%}
                  </p>
                
                </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block bodyscript %}
<script>
  //JavaScript代码区域
  layui.use(['layer', 'form','element', 'laydate','upload','util'],function(){
      var layer = layui.layer
      ,form = layui.form
      ,util = layui.util
      ,$ = layui.jquery;
 
    var post=eval("{% with messages = get_flashed_messages() %} {% if messages %}true{% else %}false{% endif %}{% endwith %}");
    if(post){
      layer.msg("密码重置成功", {icon: 6}); 
      setTimeout(function(){layer.closeAll();}, 1000);
    }

     
      
  
  });
    </script>
{% endblock %}