{% extends '_base.html' %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static',filename='css/material.css')}}" />
<style>
 td{ padding: 1px;}
.project-wbscode{width:150}
.project-name{width:300}
.project-year{width:50}
.project-date{width:80}
</style>  
  
{% endblock %}

{% block content %}
<div class="am-cf am-padding am-padding-bottom-0">
    <div class="am-fl am-cf" style="color:gray"><strong class="am-text-primary am-text-lg">工程管理</strong> »<small >工程信息</small></div>
</div>

  <hr>
  <div class="am-g"  >
        <div class="am-u-sm-12" >
        <form class="am-form-inline" action="" method="post"> 
                {{ form.hidden_tag() }}
            <div class="am-input-group am-input-group-secondary">
                <span class="am-input-group-label">编 号</span>
                {{form.wbscode(class="am-form-field")}}
            </div>
 
            <div class="am-input-group am-input-group-secondary">
                <span class="am-input-group-label">名 称</span>
                {{form.name(class="am-form-field")}}
            </div>
            <div class="am-input-group am-input-group-secondary">
                <span class="am-input-group-label">工程年份</span>
                {{form.year(class="am-form-field")}}
            </div>
            <button class="am-btn am-btn-secondary">
                <i class="am-icon-save"></i>保存
            </button>
       
            </form>
           
    </div>
  </div>

  <hr>

  <div class="am-g">
    <div class="am-u-sm-12">
          
      <form class="am-form">
        <table class="am-table am-table-bordered am-table-radius  am-table-striped am-table-hover" style="font-size: 1.4rem;">
                      
          <thead>
          <tr>
            <th class="project-wbscode">工程编号</th>
            <th class="project-name" >工程名称</th>
            <th class="project-year">工程年份</th>
            <th class="project-date am-hide-sm-only">修改时间</th>
            <th class="table-set">操作</th>
          </tr>
          </thead>
          <tbody>
              {% for project in projects %}
            <tr>
            <td>{{project.wbscode }}</td>
            <td>{{project.name }}</td>
            <td><span class="am-badge {% if project.year=='2019' %} am-badge-success {% elif project.year=='2018' %} am-badge-secondary {% endif %} ">{{project.year }}</span> </td>
            <td class="am-hide-sm-only">{{ moment(project.last_updated).fromNow() }}  </td>

 

            <td>
              <div class="am-btn-toolbar">
                <div class="am-btn-group am-btn-group-xs">
                  <a href="{{url_for('main.edit',id=project.id)}}" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil"></span> 编辑</a>
                  <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        
          </tbody>
        </table>
        <hr />
        <div class="am-cf">
          共{{pages}}页,{{total}} 条记录
          <div class="am-fr">
            <ul class="am-pagination">
              <li><a href="{{url_for('materials.index',page=1)}}">首页</a></li>
              {% if prev_url %}
              <li ><a href="{{prev_url}}">«</a></li>
              {% else %}
              <li class="am-disabled"><a href="#">«</a></li>
              {% endif %}

     

              {% for i in range(page_start,page_end,1) %}
                {% if i == page %}
                <li class="am-active"><a href="{{url_for('main.index',page=(i+1))}}">{{i+1}}</a></li>
                {% else %}
                <li class=""><a href="{{url_for('main.index',page=(i+1))}}">{{i+1}}</a></li>
                  
                {% endif %}
              {% endfor %}
  
              {% if next_url %}
              <li ><a href="{{next_url}}">»</a></li>
              {% else %}
              <li class="am-disabled"><a href="#">»</a></li>
              {% endif %}
              <li><a href="{{url_for('main.index',page=pages)}}">末页</a></li>
            </ul>
          </div>
        </div>
 
      </form>
    </div>

  </div>
{% endblock %}