{% extends 'layui_base.html' %}
{% block content %}
 

 <span class="layui-breadcrumb" lay-separator="»">
  <a href="">首页</a>
  <a href="">欢迎使用</a>
</span>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
  <legend> <h1><small>欢迎使用</small>工程仓库管理系统</h1></legend>
</fieldset>
<table class="layui-table" id="materialTable" lay-filter="materialTable"></table>

 {% endblock %}
 {% block bodyscript %}
 <script>
 //JavaScript代码区域
  layui.use(['layer', 'element', 'table','util'],function(){
      var layer = layui.layer
      ,element = layui.element
      ,table = layui.table
      ,$ = layui.jquery;
  });
  </script>
 {% endblock %}